<ion-view view-title="Browse">
  <ion-content ng-init="onload()">

    <title>JSFeat-ThreeJS - Exercice: Canvas 2D 3D</title>
    <h1>JSFeat-ThreeJs - Exercice: Canvas 2D 3D</h1>


    <video id="webcam" style="display:none;" height="480" width="640"></video>
    <div class="webCam" style=" width:640px;height:480px;margin: 10px auto;">
        <canvas id="canvas2d" width="640" height="480" class="overlapcanvas"></canvas>
        <canvas id="canvas3d" width="640" height="480" class="overlapcanvas"></canvas>
        <div id="log"></div>
    </div>

  </ion-content>
</ion-view>
