.overlapcanvas{
	width:640; 
	height:480;
	position: absolute;
    float: left;
	top: 0px;
	left: 0px;
}

#canvas2d{
	display:inline-block;
	position:absolute;
	z-index: 1;
}

#canvas3d{
	display:inline-block;
	position:absolute;
	z-index: 2;
}