<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<body>
   <br>
    <title>ArUco - Exercice: Aruco</title>
    <h1>ArUco - Exercice: Aruco</h1>

    <video id="webcam" style="display:none;" height="480" width="640"></video>
    <div style=" width:640px;height:480px;margin: 10px auto;">
        <canvas id="canvas2d" width="640" height="480"></canvas>
        <canvas id="canvas3d" width="640" height="480"></canvas>
        <div id="log"></div>
    </div>

</body>
</html>
